#  UPTRAIL - Week 1 - Customer Sign-Up Behaviour & Data Quality Audit

## 1. Load & Clean the Data

### 1.1 - Importing Libraries

In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('UPTRAIL/customer_signups.csv')
df

,customer_id,name,email,signup_date,source,region,plan_selected,marketing_opt_in,age,gender
0,CUST00000,Joshua Bryant,NaN,NaN,Instagram,NaN,basic,No,34,Female
1,CUST00001,Nicole Stewart,nicole1@example.com,02-01-24,LinkedIn,West,basic,Yes,29,Male
2,CUST00002,Rachel Allen,rachel2@example.com,03-01-24,Google,North,PREMIUM,Yes,34,Non-Binary
3,CUST00003,Zachary Sanchez,zachary3@mailhub.org,04-01-24,YouTube,NaN,Pro,No,40,Male
4,CUST00004,NaN,matthew4@mailhub.org,05-01-24,LinkedIn,West,Premium,No,25,Other
...,...,...,...,...,...,...,...,...,...,...
295,CUST00295,Gary Smith,gary95@example.com,22-10-24,Google,West,PREMIUM,Yes,40,NaN
296,CUST00296,Anthony Roberts,anthony96@mailhub.org,23-10-24,Google,Central,Basic,Yes,25,Female
297,CUST00297,Timothy Mclaughlin,NaN,24-10-24,Instagram,West,Basic,Yes,60,NaN
298,CUST00298,Justin Mcintyre,justin98@mailhub.org,25-10-24,YouTube,South,Premium,No,53,male
299,CUST00299,Mr. Bruce Bridges,mr.99@example.com,26-10-24,NaN,North,Premium,Yes,29,Male

#### Columns in the Dataframe

1. customer_id - Unique identifier for each customer
2. name - Customer's full name
3. email - Customer's email address
4. signup_date - Date when customer signed up
5. source - Acquisition channel or how the customer found the service
6. region - Geographic location of the customer
7. plan_selected - Subscription plan or product tier chosen
8. marketing_opt_in - Whether customer has opted in to marketing communications
9. age - Customer's age
10. gender - Customer's gender

### 1.2 - Identify missing values, data types, and column structure

In [8]:
null_counts = df.isnull().sum()      #Find the null value in each coulumns 
null_counts

customer_id          2
name                 9
email               34
signup_date          2
source               9
region              30
plan_selected        8
marketing_opt_in    10
age                 12
gender               8
dtype: int64

In [9]:
df.dtypes          #Displays the datatypes of each column

customer_id         object
name                object
email               object
signup_date         object
source              object
region              object
plan_selected       object
marketing_opt_in    object
age                 object
gender              object
dtype: object

In [10]:
df.info()  # Index, Summary of columns, Non-nulls counts, Dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       298 non-null    object
 1   name              291 non-null    object
 2   email             266 non-null    object
 3   signup_date       298 non-null    object
 4   source            291 non-null    object
 5   region            270 non-null    object
 6   plan_selected     292 non-null    object
 7   marketing_opt_in  290 non-null    object
 8   age               288 non-null    object
 9   gender            292 non-null    object
dtypes: object(10)
memory usage: 23.6+ KB

### 1.3 - Convert signup_date to datetime

In [12]:
df['signup_date'] = pd.to_datetime(df['signup_date'], dayfirst=True ,errors = 'coerce')
df['signup_date']

/var/folders/cp/ppr7gj1102lcjn2shl1ggyn40000gn/T/ipykernel_6807/52896520.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['signup_date'] = pd.to_datetime(df['signup_date'], dayfirst=True ,errors = 'coerce')

0            NaT
1     2024-01-02
2     2024-01-03
3     2024-01-04
4     2024-01-05
         ...
295   2024-10-22
296   2024-10-23
297   2024-10-24
298   2024-10-25
299   2024-10-26
Name: signup_date, Length: 300, dtype: datetime64[ns]

### 1.4 - Standardise inconsistent text values (plan_selected, gender, etc.)

#### 1.4.1 Customer_id

In [15]:
null_id  = df[df['customer_id'].isnull()]
null_id

,customer_id,name,email,signup_date,source,region,plan_selected,marketing_opt_in,age,gender
161,NaN,Robert Carter,robert61@example.com,2024-06-10,LinkedIn,South,Pro,Yes,34,Male
287,NaN,Antonio Hammond,antonio87@inboxmail.net,2024-10-14,Instagram,West,prem,Yes,25,FEMALE

In [16]:
#Fill the null values with lambda functions 
df['customer_id'] = df['customer_id'].fillna(df.index.to_series().apply(lambda x: f"CUST{x:05d}"))
df['customer_id']

df.loc[[161,287]]

,customer_id,name,email,signup_date,source,region,plan_selected,marketing_opt_in,age,gender
161,CUST00161,Robert Carter,robert61@example.com,2024-06-10,LinkedIn,South,Pro,Yes,34,Male
287,CUST00287,Antonio Hammond,antonio87@inboxmail.net,2024-10-14,Instagram,West,prem,Yes,25,FEMALE

#### 1.4.2 Name and E-mail

In [18]:
df['name'].str.strip()
df['email'].str.strip()

0                        NaN
1        nicole1@example.com
2        rachel2@example.com
3       zachary3@mailhub.org
4       matthew4@mailhub.org
               ...
295       gary95@example.com
296    anthony96@mailhub.org
297                      NaN
298     justin98@mailhub.org
299        mr.99@example.com
Name: email, Length: 300, dtype: object

#### 1.4.3 Source, Region, Plan selected, Gender

In [20]:
#Convert all datas to lowercase  

df[['source','region','plan_selected','gender']] = df[['source','region','plan_selected','gender']].astype(str).apply(lambda x: x.str.lower())
df[['source','region','plan_selected','gender']]

        source   region plan_selected      gender
0    instagram      nan         basic      female
1     linkedin     west         basic        male
2       google    north       premium  non-binary
3      youtube      nan           pro        male
4     linkedin     west       premium       other
..         ...      ...           ...         ...
295     google     west       premium         nan
296     google  central         basic      female
297  instagram     west         basic         nan
298    youtube    south       premium        male
299        nan    north       premium        male

[300 rows x 4 columns]

In [21]:
print(df['source'].unique())

#Replace the inncorrect values to proper form

df['source']= df['source'].replace('??',np.nan)
df['source']

['instagram' 'linkedin' 'google' 'youtube' 'facebook' 'referral' 'nan'
 '??']

0      instagram
1       linkedin
2         google
3        youtube
4       linkedin
         ...
295       google
296       google
297    instagram
298      youtube
299          nan
Name: source, Length: 300, dtype: object

In [22]:
print(df['region'].unique())

['nan' 'west' 'north' 'south' 'central' 'east']

In [23]:
print(df['plan_selected'].unique())

#Replace the inncorrect values to proper form

df['plan_selected']= df['plan_selected'].replace('prem','premium') #Replaceing the incorrect values  
df['plan_selected']

['basic' 'premium' 'pro' 'unknownplan' 'nan' 'prem']

0        basic
1        basic
2      premium
3          pro
4      premium
        ...
295    premium
296      basic
297      basic
298    premium
299    premium
Name: plan_selected, Length: 300, dtype: object

In [24]:
print(df['gender'].unique())

#Replace the inncorrect values to proper form

df['gender'] = df['gender'].replace(['non-binary','123','other'],'others')   
df['gender']

['female' 'male' 'non-binary' 'other' 'nan' '123']

0      female
1        male
2      others
3        male
4      others
        ...
295       nan
296    female
297       nan
298      male
299      male
Name: gender, Length: 300, dtype: object

#### 1.4.4 Marketing_opt_in and Age

In [26]:
print(df['marketing_opt_in'])

 #Convert 'Yes' as True and 'No' as False for Boolean Operation 

df['marketing_opt_in'] = df['marketing_opt_in'].map({'Yes':True,'No':False,'Nil':False})  
df['marketing_opt_in']

0       No
1      Yes
2      Yes
3       No
4       No
      ...
295    Yes
296    Yes
297    Yes
298     No
299    Yes
Name: marketing_opt_in, Length: 300, dtype: object

0      False
1       True
2       True
3      False
4      False
       ...
295     True
296     True
297     True
298    False
299     True
Name: marketing_opt_in, Length: 300, dtype: object

In [27]:
 #Change the datatype to boolean 

df['marketing_opt_in'] = df['marketing_opt_in'].astype('boolean')    
df['marketing_opt_in']

print(df.groupby('marketing_opt_in').size())

marketing_opt_in
False    157
True     133
dtype: int64

In [94]:
#Replace the incorrect values 

df['age'] = df['age'].replace({'206':np.nan,'thirty':30}) 
df['age']

0      34
1      29
2      34
3      40
4      25
       ..
295    40
296    25
297    60
298    53
299    29
Name: age, Length: 300, dtype: Int64

#### 1.4.5 Coverting the Datatypes

In [30]:
#Change the datatype to Int64 

df['age'] = pd.to_numeric(df['age'], errors = 'coerce') 
df['age'] = df['age'].astype('Int64')                         
df['age']

0      34
1      29
2      34
3      40
4      25
       ..
295    40
296    25
297    60
298    53
299    29
Name: age, Length: 300, dtype: Int64

In [31]:
#coverting to String datatype  

df[['customer_id','region','email','source','name','plan_selected','gender']] = df[['customer_id','region','email','source','name','plan_selected','gender']].astype('string')
df[['customer_id','region','email','source','name','plan_selected','gender']]

,customer_id,region,email,source,name,plan_selected,gender
0,CUST00000,nan,<NA>,instagram,Joshua Bryant,basic,female
1,CUST00001,west,nicole1@example.com,linkedin,Nicole Stewart,basic,male
2,CUST00002,north,rachel2@example.com,google,Rachel Allen,premium,others
3,CUST00003,nan,zachary3@mailhub.org,youtube,Zachary Sanchez,pro,male
4,CUST00004,west,matthew4@mailhub.org,linkedin,<NA>,premium,others
...,...,...,...,...,...,...,...
295,CUST00295,west,gary95@example.com,google,Gary Smith,premium,nan
296,CUST00296,central,anthony96@mailhub.org,google,Anthony Roberts,basic,female
297,CUST00297,west,<NA>,instagram,Timothy Mclaughlin,basic,nan
298,CUST00298,south,justin98@mailhub.org,youtube,Justin Mcintyre,premium,male
299,CUST00299,north,mr.99@example.com,nan,Mr. Bruce Bridges,premium,male

In [32]:
df.dtypes

customer_id         string[python]
name                string[python]
email               string[python]
signup_date         datetime64[ns]
source              string[python]
region              string[python]
plan_selected       string[python]
marketing_opt_in           boolean
age                          Int64
gender              string[python]
dtype: object

### 1.5 Remove duplicate rows based on customer_id

In [34]:
df.duplicated().sum()

0

### 1.6 Handle missing values (e.g., region, email, age)

In [36]:
df[['region', 'email', 'age']] = df[['region', 'email', 'age']].replace(r'^\s*$',np.nan, regex=True)
df[['region', 'email', 'age']]

      region                  email  age
0        nan                   <NA>   34
1       west    nicole1@example.com   29
2      north    rachel2@example.com   34
3        nan   zachary3@mailhub.org   40
4       west   matthew4@mailhub.org   25
..       ...                    ...  ...
295     west     gary95@example.com   40
296  central  anthony96@mailhub.org   25
297     west                   <NA>   60
298    south   justin98@mailhub.org   53
299    north      mr.99@example.com   29

[300 rows x 3 columns]

In [37]:
#Replace all 'nan' to null values 

df['source'] = df['source'].replace('nan',np.nan)
df['region'] = df['region'].replace('nan',np.nan)
df['plan_selected'] = df['plan_selected'].replace('nan',np.nan)
df['marketing_opt_in'] = df['marketing_opt_in'].replace('nan',np.nan)
df['age'] = df['age'].replace('nan',np.nan)
df['gender'] = df['gender'].replace('nan',np.nan)

## 1.2  Data Quality Summary

### 1.2.1 Count of missing values per column

In [40]:
null_counts = df.isnull().sum()
null_counts

customer_id          0
name                 9
email               34
signup_date          6
source              15
region              30
plan_selected        8
marketing_opt_in    10
age                 18
gender               8
dtype: int64

### 1.2.2  % of missing values

In [42]:
percent_of_missing_values = round(((null_counts/300)*100),2)
percent_of_missing_values

customer_id          0.00
name                 3.00
email               11.33
signup_date          2.00
source               5.00
region              10.00
plan_selected        2.67
marketing_opt_in     3.33
age                  6.00
gender               2.67
dtype: float64

### 1.2.3 Number of duplicates removed

In [44]:
# Drop duplicates based on the 'customer_id' column
df = df.drop_duplicates(subset='customer_id')
df

,customer_id,name,email,signup_date,source,region,plan_selected,marketing_opt_in,age,gender
0,CUST00000,Joshua Bryant,<NA>,NaT,instagram,<NA>,basic,False,34,female
1,CUST00001,Nicole Stewart,nicole1@example.com,2024-01-02,linkedin,west,basic,True,29,male
2,CUST00002,Rachel Allen,rachel2@example.com,2024-01-03,google,north,premium,True,34,others
3,CUST00003,Zachary Sanchez,zachary3@mailhub.org,2024-01-04,youtube,<NA>,pro,False,40,male
4,CUST00004,<NA>,matthew4@mailhub.org,2024-01-05,linkedin,west,premium,False,25,others
...,...,...,...,...,...,...,...,...,...,...
295,CUST00295,Gary Smith,gary95@example.com,2024-10-22,google,west,premium,True,40,<NA>
296,CUST00296,Anthony Roberts,anthony96@mailhub.org,2024-10-23,google,central,basic,True,25,female
297,CUST00297,Timothy Mclaughlin,<NA>,2024-10-24,instagram,west,basic,True,60,<NA>
298,CUST00298,Justin Mcintyre,justin98@mailhub.org,2024-10-25,youtube,south,premium,False,53,male
299,CUST00299,Mr. Bruce Bridges,mr.99@example.com,2024-10-26,<NA>,north,premium,True,29,male

## 1.3  Summary Outputs (Using Pandas Aggregations)

Use .groupby() or .value_counts() to summarise:

In [46]:
## Sign-ups per week (grouped by signup_date)

weekly_count = df.groupby(df['signup_date'].dt.strftime('%Y-W%V'))['customer_id'].count()
weekly_count

signup_date
2024-W01    6
2024-W02    7
2024-W03    7
2024-W04    7
2024-W05    8
2024-W06    7
2024-W07    7
2024-W08    7
2024-W09    7
2024-W10    7
2024-W11    7
2024-W12    6
2024-W13    6
2024-W14    7
2024-W15    7
2024-W16    7
2024-W17    7
2024-W18    6
2024-W19    7
2024-W20    7
2024-W21    7
2024-W22    7
2024-W23    6
2024-W24    7
2024-W25    7
2024-W26    7
2024-W27    7
2024-W28    7
2024-W29    6
2024-W30    7
2024-W31    7
2024-W32    6
2024-W33    7
2024-W34    7
2024-W35    7
2024-W36    7
2024-W37    7
2024-W38    7
2024-W39    7
2024-W40    7
2024-W41    7
2024-W42    7
2024-W43    6
Name: customer_id, dtype: int64

In [47]:
## Sign-ups by source, region, and plan_selected

df.groupby(['source','region','plan_selected'])['signup_date'].count().head(20)

source    region   plan_selected
facebook  central  premium          4
                   pro              3
          east     basic            3
                   premium          3
                   pro              4
          north    basic            1
                   premium          2
                   pro              4
          south    basic            1
                   premium          4
                   pro              1
          west     premium          1
                   pro              1
google    central  basic            2
                   premium          2
                   pro              6
          east     basic            1
                   premium          4
                   pro              1
                   unknownplan      1
Name: signup_date, dtype: int64

In [48]:
## Marketing opt-in counts by gender

df.groupby(['gender'])['marketing_opt_in'].count()

gender
female     92
male       89
others    101
Name: marketing_opt_in, dtype: Int64

In [96]:
#Age summary: min, max, mean, median, null count

print("Min age of customers is ",df['age'].min())
print("Max age of customers is ",df['age'].max())
print("Mean of age customers is ",df['age'].mean())
print("Median of age of customers is ",df['age'].median())
print("Count of nulls in age is ",df['age'].isna().sum())

Min age of customers is  21
Max age of customers is  206
Mean of age customers is  36.11347517730496
Median of age of customers is  34.0
Count of nulls in age is  18

## 1.4 Business Questions

In [51]:
## Which acquisition source brought in the most users last month?
#Which acquisition source brought in the most users last month?
month = df.groupby([df['signup_date'].dt.strftime('%B'),'source'])['customer_id'].count()
month
last_month = month.index.get_level_values(0).unique()[-1]  # Get the last month
last_month_data = month.xs(last_month, level=0)  # Filter for just that month
max_source = last_month_data.idxmax()  # Find the source with max users 
print("The highest number of users last month (",last_month,") came from the source '",str.upper(max_source),"'")

The highest number of users last month ( September ) came from the source ' YOUTUBE '

In [52]:
# Which region shows signs of missing or incomplete data?

print("\nCount of null values in region column:", df['region'].isnull().sum())

## Group by Region
region_groups = df.groupby('region')
print("\nGroup counts by region:")
print(region_groups.size())

Count of null values in region column: 30

Group counts by region:
region
central    39
east       61
north      65
south      59
west       46
dtype: int64

In [53]:
## Are older users more or less likely to opt in to marketing?

old = df[(df['age'] > 50) & (df['marketing_opt_in']== True)][['marketing_opt_in']]
print("No.of old users ",old.count())
young =  df[(df['age'] < 50) & (df['marketing_opt_in']==True)][['marketing_opt_in']]
print("No.of young users ",young.count())

No.of old users  marketing_opt_in    18
dtype: int64
No.of young users  marketing_opt_in    106
dtype: int64

In [98]:
##Which plan is most commonly selected, and by which age group?

##cretaing bins for age group and grouping of ages
bins = [0, 25, 35, 45, 60, 100]
labels = ['18–25', '26–35', '36–45', '46–60', '60+']

df['age_group'] = pd.cut(df['age'], bins=bins, labels=labels, right=True, include_lowest=True)
df['age_group']

df.groupby(['age_group','plan_selected'])['customer_id'].count()

/var/folders/cp/ppr7gj1102lcjn2shl1ggyn40000gn/T/ipykernel_6807/3132018193.py:10: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['age_group','plan_selected'])['customer_id'].count()

age_group  plan_selected
18–25      basic            28
           premium          23
           pro              24
           unknownplan       0
26–35      basic            23
           premium          31
           pro              32
           unknownplan       2
36–45      basic            11
           premium          23
           pro              13
           unknownplan       2
46–60      basic            19
           premium          19
           pro              21
           unknownplan       2
60+        basic             0
           premium           0
           pro               0
           unknownplan       0
Name: customer_id, dtype: int64